name: Fuzz APWorld
on:
  push:
    branches: [ pokecrystal, future/*, ci ]
  pull_request:
    branches: [ pokecrystal, future/* ]


jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/fuzz@main
        with:
          apworld-path: worlds/pokemon_crystal
          ap-version: '0.6.2'
          python-version: '3.12'
