name: Test APWorld
on:
  push:
    branches: [pokecrystal, future/*, ci]
  pull_request:
    branches: [pokecrystal, future/*]


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/ap-tests@main
        with:
          apworld-path: worlds/pokemon_crystal
          ap-version: '0.6.1'
          python-version: '3.12'
