name: Release APWorld
on:
  push:
    tags:
      - '**'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@master

      - name: Archive
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          directory: 'worlds'
          path: 'pokemon_crystal'
          filename: 'pokemon_crystal.apworld'
          exclusions: '*.git* *__pycache__**'

      - uses: ncipollo/release-action@v1
        with:
          artifacts: 'worlds/pokemon_crystal.apworld'
          allowUpdates: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true